<div class="container">
  <div class="top">
    <img src="../../assets/img/me.jpg" alt="ds" />
    <h1>Velibor Vasiljevic</h1>
    <h2>
      Hi there! <br />
      I'm freelancer who does web development!
    </h2>
    <h3>Available for hire</h3>
  </div>
  <div class="icon">
    <img src="../../assets/icons/arrow.svg" alt="" />
  </div>
</div>
<!--

    <div class="menu">
        <img src="../../assets/icons/email.svg" alt="" />
        <img src="../../assets/icons/blog.svg" alt="" />
        <img src="../../assets/icons/portfolio.svg" alt="" />
        <img src="../../assets/icons/gallery.svg" alt="" />
        <img src="../../assets/icons/about.svg" alt="" />
        <img src="../../assets/icons/close.svg" alt="" />
    </div>
    
-->