<div class="container" [ngStyle]="{'-webkit-filter': isMenuShown ? 'blur(5px)' : 'none'}">
  <div class="top">
    <img src="../../assets/img/me.jpg" alt="ds" />
    <h1>Velibor Vasiljevic</h1>
    <h2>
      Hi there! <br />
      I'm freelancer who does web development!
    </h2>
    <h3>Available for hire</h3>
  </div>
  <div class="icon">
    <img (click)="showMenu()" class="icon-img" src="../../assets/icons/arrow.svg" alt="" />
  </div>
</div>
    <div *ngIf="isMenuShown"class="menu">
        <img src="../../assets/icons/email.svg" alt="" />
        <img src="../../assets/icons/blog.svg" alt="" />
        <img src="../../assets/icons/portfolio.svg" alt="" />
        <img src="../../assets/icons/gallery.svg" alt="" />
        <img src="../../assets/icons/about.svg" alt="" />
        <img src="../../assets/icons/close.svg" alt="" />
    </div>
