<div class="container">
    <h2>Skills</h2>
    <h3>Frontend</h3>
    <p>Figma for UI</p>
    <p>HTML, CSS, SASS, Angular 9</p>
    <p>Did photoshop and logos, a while ago, maybe I'll come back to that one day :)</p>

    <h3>Backend</h3>
    <p>Django</p>
    <p>REST</p>
    <p>iddkk?!!?</p>

    <h3>Animations </h3>

    <h4>pop-up</h4>
    <div [@popOverState]="stateName">
        <p>Button below changes "show" variable.</p>
        <p>"get stateName" method is inputed here.</p>
        <p>popOverState is the name of the animation, and we set it up in the ts file</p>
    </div>
    <button (click)="toggle()">Show text</button>
    
    <h4>this handles multiple states</h4>

    
</div>
